/*базовые стили начало*/
@font-face {
    font-family: "PT-Sans";
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,*::before,*::after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}

.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
  font-family: PT-Sans;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

h2{
  font-size: 21px;
}

h3 h4{
  font-size: 21px;
}
/*базовые стили конец*/
/*стили хеддера начало*/
.navigation a{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

.landscape{
  width: 1200px;
  height: 800px;
  background-image: url(../img/sedona-landscape.jpg);
  background-size: cover;
  background-color: #486776;
  background-attachment: fixed;
  border-top: 1px solid transparent;
  position: relative;
}

.welcome{
  width: 459px;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  display: block;
}

.landscape-bottom{
  padding-top: 1px;
  width: 1201px;
  height: 274px;
  background-image: url(../img/landscape-bottom.png);
  position: absolute;
  bottom: -1px;
}

.start-description1{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  width: 600px;
  margin-top: 122px;
  }

.start-description2{
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-top: 42px;
}
/*стили хеддера конец*/
/*Секции преимуществ начало*/
.reasons
{/*убирает выпадение марджинов из родителя*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 14px;
}

.reasons h3,h4{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  width: 150px;
  text-align: center;
}

.reasons p{
  width: 295px;
  text-align: center;
}
/*Стилизация преимуществ с голубым фоном начало*/
.reason-1,
.reason-2{
  background-color: #81b3d2;
}
.reason-1,
.reason-2{
  color: white;
}
.reason-1 h3{
  color: inherit;
}
.reason-2 h3{
  color: inherit;
}
/*Стилизация преимуществ с голубым фоном конец*/
/*Стилизация преимуществ с серым фоном начало*/
.advantages,
.other-reasons{
  background-color: #eeeeee;
}
/*Стилизация преимуществ с серым фоном конец*/
/*Секции преимуществ конец*/
/*Форма поиска начало*/
.hostel-search{
  border-top: 1px solid transparent;
}

.form-area{
  border-top: 1px solid transparent;
  position: relative;
}

.map-area{
  background-image: url(../img/map.png);
  height: 472px;
}

.hostel-search h2 + p{
  font-size: 30px;
  font-weight: bold;
  margin-top: 62px;
}

.hostel-search p:nth-of-type(2){
  margin-top: 40px;
  text-align: center;
}

.form-view-button{
  width: 568px;
  height: 86px;
  background: #766357;
  font-size: 21px;
  font-weight: bold;
  color: white;
  border: none;
  margin-top: 53px;
}

.hostel-search-form{
  width: 568px;
  height: 359px;
  background: #d7d7d7;
  boreder-top: 1px solid transparent;
  padding-top: 1px;
  position: absolute;
}

.field-holder{
  margin-top: 30px;
  position: relative;
}

.hostel-search-form label{
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 55px;
}

input[type=text]{
  width: 346px;
  height: 38px;
  margin-left: 168px;
}

.field-holder:first-of-type{
  margin-top: 55px;
}

.hostel-search-form-submit{
  width: 458px;
  height: 58px;
  background: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  color: white;
  border: none;
}
/*Форма поиска конец*/
/*Стилизация футтера начало*/
.site-footer{
  min-height: 120px;
}

.hashteg{
  font-size: 21px;
  font-weight: bold;
}
/*Стилизация футтера конец*/




/*Стили страницы с поиском
-------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.hostel-sorting-form{
  background-color: #84a5c6;
  color: white;
}

.hostel-sorting-form h3{
  font-size: 16px;
}

fieldset{
  border: none;
}

.panel h3{
  font-size: 12px;
}

.sorting-critarias button{
  padding: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  color: #b1b1b1;
  text-transform: uppercase;
}

.sorting-result ul{
  padding: 0;
  margin: 0;
}

.sorting-result-item{
  border-top: 1px solid #e5e5e5;
}

.sorting-result-item button{
  background-color: #81b3d2;
  border: none;
  min-width: 110px;
  min-height: 27px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 17px;;
}

.sorting-result-item button:nth-of-type(2){
  background-color: #766357;
}

.sorting-result-rating p{
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
}
/*Стилизация чекбоксов*/
.sorting-form-label{
display: inline-block;
cursor: pointer;
position: relative;
}

.checkbox:focus + label::before{
  border-color: SteelBlue;
}


.input-holder{
  vertical-align: middle;
}

.sorting-form-label::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  margin-right: 16px;
  vertical-align: middle;
  border-radius: 2px;
}

.checkbox:checked + label::after{
 content: '';
 display: inline-block;
 height: 12px;
 width: 20px;
 border-left: 4px solid white;
 border-bottom: 4px solid white;
 transform: rotate(-45deg);
 position: absolute;
 left: 6px;
 top: 3px;
}


.range{
  text-align: center;
  width: 314px;
}
/*Стилизация чекбоксов*/

/*Стилизация полей над рэнджем и кнопки под ним*/
.range-output{
border: 2px solid white;
width: 314px;
height: 32px;
align-items: center;
position: relative;
font-size: 14px;
color: white;
text-transform: uppercase;
}

.range-slider-container{
 width: 314px;
 height: 22px;
}

.range-value-split{
display: inline-block;
width: 2px;
height: 22px;
background-color:  white;
position: absolute;
left: 50%;
top: 15%;
}

.range-from,
.range-to{
  display: inline-block;
  position: absolute;
  top: 9px;
}

.range-from{
  left: 57px;
}

.range-from p{
  margin: 0;
  padding: 0;
}

.range-to{
  right: 57px;
}

.show-result-button{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 133px;
  height: 32px;
  margin: auto;
  margin-top: 23px;
  text-transform: uppercase;
}

/*Стилизация полей над рэнджем и кнопки под ним*/

/*Стилизация полосы и ползунка*/
input[type=range]{
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50%;
  border: 8px solid white;
}

input[type=range]:focus{
  background-color: SteelBlue;
  outline: none;
}

input[type=range]::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 1px SteelBlue;
  outline: none;
}
/*Стилизация полосы и ползунка*/


.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}





*
