*,*::before,*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
  position: relative;
  font-family: "PT Sans", "arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

img{ 
  max-width: 100% 
}

.container{
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0 10px 2px #d0d0d0;
          box-shadow: 0px 0 10px 2px #d0d0d0;
}

.index-content{
  padding-top: 38px;
}

.page-header .site-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 140px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.page-header a{
  margin: 0;
  padding: 0;
  line-height: 26px;
  text-decoration: none;
}

.navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 73px;
  padding-right: 73px;
  list-style: none;
}

.navigation-list-item{
  padding-top: 14px;
  padding-bottom: 16px;
}

.navigation-list-item:first-of-type+li{
  margin-left: 145px;
  margin-right: auto;
}

.navigation-list-item:last-of-type{
  margin-left: 165px;
}

.navigation-list-item a{
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.curent-link a{
  color: #766357;
}

.navigation-list-item a:hover{
  color: #81b3d2;
}

.navigation-list-item a:active{
  color: #c7c7c7;
}

.landscape{
  width: 1200px;
  height: 510px;
  background-image: url(../img/sedona-landscape.jpg);
  background-size: cover;
  background-color: #486776;
}

.start-description1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  width: 600px;
}

.start-description2{
  margin-bottom: 50px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
}

.reasons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 256px;
  width: 1200px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  font-size: 14px;
}

.reason-1,
.reason-2{
  background-color: #81b3d2;
  color: white;
}

.reasons-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
}

.advantage-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 330px;
  background-color: white;
}

.reasons p{
  margin: 0;
  padding: 0;
}

.reasons ul,
.reasons li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.reasons .reasons-list-item,
.reasons .advantage-list-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 256px;
  width: 400px;
  padding: 0;
  padding-top: 48px;
  line-height: 21px;
}

.reasons .advantage-list-item{
  position: relative;
  min-width: 330px;
  padding: 0;
  padding-top: 160px;
}

.house-item::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.food-item::before{
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Souvenirs-item::before{
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  width: 64px;
  height: 76px;
  margin-left: -33px;
  background-image: url(../img/icon-present.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reasons .reasons-list-item-img{
  width: 800px;
  padding: 0;
}

.reasons h3{
  width: 150px;
  margin: 0;
  margin-bottom: 25px;
  line-height: 21px;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.reasons p{
  width: 280px;
  text-align: center;
}

.feature-number{
  margin-bottom: 20px;
}

.reason-1 h3,
.reason-2 h3{
  color: inherit;
}

.hostel-search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-top: 57px;
  text-align: center;
}

.interactive-map{
  position: absolute;
  z-index: 0;
}

.map-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  background: #cbdda9;
  min-height: 594px;
}

.hostel-search-invite1{
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: bold;
}

.hostel-search-invite2{
  width: 440px;
  margin-bottom: 47px;
  text-align: center;
}

.form-view-button{
  width: 568px;
  height: 86px;
  background: #766357;
  font-size: 21px;
  font-weight: bold;
  color: white;
  border: none;
  text-transform: uppercase;
}

.modal-error{
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-hide{
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes hide{
  0%{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100%{
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
}

@keyframes hide{
  0%{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100%{
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
}

.modal-show{  
  -webkit-animation-name: show;  
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
 
}

@-webkit-keyframes show{
  0%{
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  
  100%{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes show{
  0%{
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  
  100%{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.form-view-button:hover{
  background-color: #604e43; 
}

.form-view-button:active{
  background-color: #503e33;
  color: #857871;  
}

.hostel-search-form{
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 568px;
  height: 395px;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 1px #aeaeae;
          box-shadow: 0px 0px 20px 1px #aeaeae;
}

.hostel-search-form label{
  font-size: 14px;
  font-weight: bold;
}

.field-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.check-input{
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.check-input:hover{
  background-color: #ebebeb;
}

.check-input:focus{
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
}

.date-select{
  position: relative;
}

.date-select button{
  position: absolute;
  right: 12px;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: none;
  background: none;
}

.choose-date-btn
.choose-date-btn:active,
.choose-date-btn:focus{
  outline: none;
}

.choose-date-btn path{
  fill: #a9a9a9;
}

.choose-date-btn:hover path{
  fill: #000000;
}

.choose-date-btn:active path,
.choose-date-btn:focus path{
  fill: #81b3d2;
}

.number-field-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
}

.number-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label[for="grown-up-number"]{
  margin: 0;
  margin-left: 0px;
  margin-right: 40px;
}

label[for="children-number"]{
  margin-right: 25px;
}

.people-number{
  width: 38px;
  height: 38px;
  margin: 0;
}

.minus-button,
.plus-button{
  width: 38px;
  height: 38px;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  vertical-align: middle; 
  color: #a9a9a9;
  font-size: 0px;
}

.minus-button{
  background-image: url(../img/signs.png);
  background-repeat: no-repeat;
  background-position: 14px 13px;
}

.minus-button:hover,
.minus-button:focus{
  outline: none;
  background-position: 14px -26px;
}

.minus-button:active{
  background-position: 14px -64px;
}

.plus-button{
  background-image: url(../img/signs.png);
  background-repeat: no-repeat;
  background-position: -64px 13px;
}

.plus-button:hover,
.plus-button:focus{
  outline: none;
  background-position: -64px -26px;
}

.plus-button:active{
  background-position: -64px -64px;
}

.hostel-search-submit{
  width: 458px;
  height: 58px;
  background: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.hostel-search-submit:hover{
  background-color: #669ec0;
}

.hostel-search-submit:active{
  background-color: #5496bd;
  color: #88b6d1;
}

.site-footer{
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  background-color: white;
  opacity: 0.9;
}

.hostels-footer{
  position: static;
}

.site-footer:before{
  content: "";
  display: inline-block;
  min-height: 120px;
  visibility: hidden;
  vertical-align: middle;
}

.site-footer a{
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.site-footer .hashteg{
  font-size: 21px;
  font-weight: bold;
}

.hashteg-area{
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.social-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link{
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  font-size: 0px;
}

.social-link:active{
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}

.social-button:active{
  background-color: #5496bd;
}

.social-list li:nth-of-type(2){
  margin-right: 6px;
  margin-left: 6px;
}

.twitter{
  background-image: url(../img/twitter-icon.svg); 
}

.facebook{
  background-image: url(../img/fb-icon.svg); 
}

.yotube{
  background-image: url(../img/youtube-icon.svg); 
}

.copyright{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.copyright p{
  margin-right: 10px;
  display: inline;
}

.copyright svg{
  width: 115px;
  height: 41px;
}

.html-academy-logo{
  font-size: 0px;
}

.html-academy-logo path{
  fill: #000000;
}

.html-academy-logo:hover path{
  fill: #81b3d2;
}

.html-academy-logo:focus path{
  fill: #81b3d2;
}

.html-academy-logo:active path{
  fill: #bdbbbc;
}

.html-academy-logo svg{
  margin-top: 6px;
}

.hostel-sorting-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 217px;
  padding-right: 73px;
  padding-left: 72px;
  padding-top: 25px;
  background-color: #84a5c6;
  background-image: url(../img/filter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.hostel-sorting-form h3{
  margin: 0;
  margin-bottom: 22px;
  font-size: 16px;
}

.left-column{
  margin-right: 120px;
}

.hostel-features{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-holder{
  margin-bottom: 20px;
}

.hostel-features label{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.checkbox:focus + label::before{
  border-color: SteelBlue;
}

.hostel-features label::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 16px;
  vertical-align: middle;
  border: 2px solid white;
  border-radius: 2px;
}

.checkbox:checked + label::after{
  content: "";
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 3px;
  height: 12px;
  width: 20px;
  vertical-align: middle;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.checkbox:disabled +label::before{
  border: 2px solid #8c8c8c;
}

.checkbox:disabled +label::after{
  border-left: 4px solid #8c8c8c;
  border-bottom: 4px solid #8c8c8c;
}

.checkbox:disabled +label{
  color: #8c8c8c;
}

.filter-range{
  margin-left: auto;
  margin-top: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title{
  margin-top: -1px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 317px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 2px;
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price-controls label{
  margin-top: 2px;
}

.price-controls .min-price{
  margin-left: 65px;
}

.price-controls .max-price{
  margin-left: auto;
  margin-right: 30px;
}

.price-controls input{
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls{
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale{
  height: 2px;
  width: 317px;
  background: rgba(255, 255, 255, 0.3); 
}

.range-controls .bar{
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle{
  position: absolute;
  top: -9px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min{
  left: 0;
}

.range-toggle-max{
  left: 80%;
}

.range-toggle:hover{
  background: #1c4f80;
}

.btn-transparent{
  position: relative;
  left: -5px;
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover{
  background-color: #ffffff;
  color: #000000;
}

.panel{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.panel h2{
  margin: 0;
  margin-right: 50px;
  font-size: 21px;
  font-weight: bold;
}

.panel h3{
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
}

.sorting-critarias{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-critarias li:nth-last-of-type(2n){
  margin: 0;
  margin-right: 32px;
  margin-left: 32px;
}

.sorting-buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3px;
  margin-left: auto;
  position: relative;
}

.sorting-button2{
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  background: none;
}

.sorting-button polygon{
  fill: #cacaca;
}

.sorting-button:hover polygon{
  fill: #231f20;
}

.curent-sorting-btn polygon{
  fill: #83b4d3;
}

.sorting-button:active polygon,
.sorting-button:focus polygon{
  fill: #83b4d3;
}

.sorting-button:focus{
  outline: none;
}

.sorting-critarias a{
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px dotted #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #b1b1b1;
  outline: none;
}

.sorting-critarias a:hover,
.sorting-critarias a:focus{
  color: #abcce1;
}

.sorting-critarias a:active{
  color: #000000;
  border: none;
}

.sorting-critarias .sorting-argument{
  color: #abcce1;
  border: none;
}

.sorting-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0;
  padding: 0; 
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-item img{
  margin-right: 30px;
}

.sorting-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-info a{
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 80%;
  border: none;
  text-decoration: none;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  cursor: default;
}

.sorting-info a:hover{
  color: #81b3d2;
}

.sorting-info a:active{
  color: #b2b2b2;
}

.sorting-info p{
  margin: 0;
  padding: 0;
}

.sorting-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
  padding-top: 8px;
}

.sorting-column p{
  margin-bottom: 12px;
}

.sorting-column a{
  padding: 4px 17px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.sorting-column a:hover{
  background-color: #669ec0;
  color: #ffffff;
}

.sorting-column a:active{
  background-color: #5496bd;
  color: #7aadcb;
}

.sorting-column2 a{
  background-color: #766357;
}

.sorting-column2 a:hover{
  background-color: #604e43;
}

.sorting-column2 a:active{
  background-color: #503e33;
  color: #857871;
}

.sorting-rating{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.sorting-rating p{
  margin: 0;
  padding: 0;
  padding: 1px 15px;
  background-color: #f2f2f2;
  color: #b1b1b1;
}

.stars{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 17px;
  font-size: 0px;
  background-position: right;
  background-repeat: no-repeat;
}

.four-stars{
  background-image: url(../img/4stars.png);
}

.three-stars{
  background-image: url(../img/3stars.png);
}

.two-stars{
  background-image: url(../img/2stars.png);
}