body{
  background-color: grey;
}

fieldset{
  border: none;
}

label{
display: inline-block;
cursor: pointer;
position: relative;
}


.checkbox:focus + label::before{
  border-color: SteelBlue;
}


.input-holder{
  vertical-align: middle;
}

label::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  margin-right: 16px;
  vertical-align: middle;
}

.checkbox:checked + label::after{
 content: '';
 display: inline-block;
 height: 10px;
 width: 20px;
 border-left: 5px solid white;
 border-bottom: 5px solid white;
 transform: rotate(-45deg);
 position: absolute;
 left: 6px;
 top: 0px;
}

.checkbox{
opacity: 0;
position: absolute;
}



.range-output{
display: flex;
flex-direction: row;
border: 2px solid white;
width: 314px;
height: 32px;
justify-content:  space-around;
align-items: center;
position: relative;
}

.range-value-split{
width: 2px;
height: 22px;
background-color:  white;
position: absolute;
left: 50%;
top: 10%;
}













































/
