/*базовые стили начало*/
@font-face {
    font-family: "PT-Sans";
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,*::before,*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
  font-family: PT-Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.template{
  position:absolute;
  opacity:0.5;
  z-index:1
}

main{
  padding-top: 38px;
}

img{ 
  max-width: 100% 
}

.container{
  width: 1200px;
}

/*базовые стили конец*/
/*стили хеддера начало*/

.navigatin-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 28px;
  align-items: center;
  padding-right: 73px;
  padding-left: 73px;
}

.navigatin-list-left{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.navigatin-list-right{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.navigatin-list-left li{
  margin-right: 150px;
  margin-left: none;
}

.navigatin-list-right li{
  margin-left: 165px;
  margin-right: none;
}

.page-header .site-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 140px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.page-header a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.navigatin-list-item a{
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.landscape{
  width: 1200px;
  height: 510px;
  background-image: url(../img/sedona-landscape.jpg);
  background-size: cover;
  background-color: #486776;
}

.start-description1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  line-height: 28px;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  width: 600px;
  }

.start-description2{
  margin-bottom: 50px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
}
/*стили хеддера конец*/
/*Секции преимуществ начало*/
.reasons{
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  width: 1200px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  font-size: 14px;
}

.reason-1,
.reason-2{
  background-color: #81b3d2;
  color: white;
}

.reasons-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
}

.advantage-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 330px;
  background-color: white;
}

.reasons p{
  margin: 0;
  padding: 0;
}

.reasons ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.reasons-list-item,
.advantage-list-item{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 256px;
  width: 400px;
  padding: 0;
  padding-top: 48px;
  line-height: 21px;
}

.advantage-list-item{
  position: relative;
  min-width: 330px;
  padding: 0;
  padding-top: 160px;
}

.house-item::before{
  position: absolute;
  top: 60px;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(/img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.food-item::before{
  position: absolute;
  top: 60px;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(/img/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Souvenirs-item::before{
  position: absolute;
  top: 60px;
  content: "";
  width: 64px;
  height: 76px;
  background-image: url(/img/icon-present.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reasons-list-item-img{
  width: 800px;
  padding: 0;
}

.reasons h3,h4{
  width: 150px;
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.reasons p{
  width: 295px;
  text-align: center;
}

.feature-number{
  margin-bottom: 20px;
}

/*Стилизация преимуществ с голубым фоном начало*/


.reason-1 h3,
.reason-2 h3{
  color: inherit;
}
/*Стилизация преимуществ с голубым фоном конец*/

/*Секции преимуществ конец*/
/*Форма поиска начало*/
.hostel-search{
  padding: 0;
  padding-top: 55px;
  text-align: center;
}

.form-area{
  position: relative;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.map-area{
  height: 472px;
}

.hostel-search-invite1{
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.hostel-search-invite2{
  text-align: center;
  margin-bottom: 50px;
}

.form-view-button{
  width: 568px;
  height: 86px;
  background: #766357;
  font-size: 21px;
  font-weight: bold;
  color: white;
  border: none;
  text-transform: uppercase;
}

.form-view-button:hover{
  background-color: #604e43;
  
}

.form-view-button:active{
  background-color: #503e33;
  color: #857871; 
  
}

.hostel-search-form{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 568px;
  height: 395px;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  background-color: #ffffff;
}

.hostel-search-form label{
  font-size: 14px;
  font-weight: bold;
}

.field-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 3px;
}

.check-input{
  width: 346px;
  height: 38px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.check-input:hover{
  background-color: #ebebeb;
}

.check-input:focus{
  background-color: #ffffff;
}


.date-select button{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 65px;
  border: none;
  background: none;
}

.choose-date-btn
.choose-date-btn:active,
.choose-date-btn:focus{
  outline: none;
}

.choose-date-btn path{
  fill: #a9a9a9;
}

.choose-date-btn:hover path{
  fill: #000000;
}

.choose-date-btn:active path,
.choose-date-btn:focus path{
  fill: #81b3d2;
}

.number-field-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.number-area{
  display: flex;
  align-items: center;
}

label[for="grown-up-number"]{
  margin: 0;
  margin-left: 3px;
  margin-right: 40px;
}

label[for="children-number"]{
  margin-right: 25px;
}

.people-number{
  width: 38px;
  height: 38px;
  margin: 0;
}

.minus-button,
.plus-button{
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  margin: 0;
  color: #a9a9a9;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.minus-button:hover,
.plus-button:hover{
  color: #000000;
}

.minus-button:active,
.plus-button:active{
  color: #81b3d2;
}

.hostel-search-submit{
  width: 458px;
  height: 58px;
  background: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.hostel-search-submit:hover{
  background-color: #669ec0;
}

.hostel-search-submit:active{
  background-color: #5496bd;
  color: #88b6d1;
}

/*Форма поиска конец*/
/*Стилизация футтера начало*/
.site-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.site-footer a{
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.site-footer .hashteg{
  display: block;
  margin-left: 133px;
  font-size: 21px;
  font-weight: bold;
}

.social-list{
  margin: 0;
  margin-left: 25px;
  padding: 0;
  display: flex;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover{
  background-color: #669ec0;
}

.social-button:active{
  background-color: #5496bd;
}

.social-button:active{
  
}
.social-list li:nth-of-type(2){
  margin-right: 6px;
  margin-left: 6px;
}

.twitter{
  background-image: url(/img/twitter-icon.svg); 
}

.twitter:active{
  background-image: url(/img/twitter-active.png);
}

.facebook{
  background-image: url(/img/fb-icon.svg); 
}

.facebook:active{
  background-image: url(/img/fb-active.png);
}

.yotube{
  background-image: url(/img/youtube-icon.svg); 
}

.yotube:active{
  background-image: url(/img/youtube-active.png); 
}

.copyright{
  display: flex;
  margin-right: 100px;
  align-items: center;
}

.copyright p{
  margin-right: 10px;
  display: inline;
}

.copyright svg{
  width: 115px;
  height: 41px;
}

.html-academy-logo path{
  fill: #000000;
  
}

.html-academy-logo svg{
  margin-top: 6px;
}
/*Стилизация футтера конец*/




/*Стили страницы с поиском
-------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.hostel-sorting-form{
  background-color: #84a5c6;
  color: white;
}

.hostel-sorting-form h3{
  font-size: 16px;
}

fieldset{
  border: none;
}

.panel h3{
  font-size: 12px;
}

.sorting-critarias button{
  padding: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  color: #b1b1b1;
  text-transform: uppercase;
}

.sorting-result ul{
  padding: 0;
  margin: 0;
}

.sorting-result-item{
  border-top: 1px solid #e5e5e5;
}

.sorting-result-item button{
  background-color: #81b3d2;
  border: none;
  min-width: 110px;
  min-height: 27px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 17px;;
}

.sorting-result-item button:nth-of-type(2){
  background-color: #766357;
}

.sorting-result-rating p{
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
}
/*Стилизация чекбоксов*/
.sorting-form-label{
display: inline-block;
cursor: pointer;
position: relative;
}

.checkbox:focus + label::before{
  border-color: SteelBlue;
}


.input-holder{
  vertical-align: middle;
}

.sorting-form-label::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  margin-right: 16px;
  vertical-align: middle;
  border-radius: 2px;
}

.checkbox:checked + label::after{
 content: '';
 display: inline-block;
 height: 12px;
 width: 20px;
 border-left: 4px solid white;
 border-bottom: 4px solid white;
 transform: rotate(-45deg);
 position: absolute;
 left: 6px;
 top: 3px;
}


.range{
  text-align: center;
  width: 314px;
}
/*Стилизация чекбоксов*/

/*Стилизация полей над рэнджем и кнопки под ним*/
.range-output{
border: 2px solid white;
width: 314px;
height: 32px;
align-items: center;
position: relative;
font-size: 14px;
color: white;
text-transform: uppercase;
}

.range-slider-container{
 width: 314px;
 height: 22px;
}

.range-value-split{
display: inline-block;
width: 2px;
height: 22px;
background-color:  white;
position: absolute;
left: 50%;
top: 15%;
}

.range-from,
.range-to{
  display: inline-block;
  position: absolute;
  top: 9px;
}

.range-from{
  left: 57px;
}

.range-from p{
  margin: 0;
  padding: 0;
}

.range-to{
  right: 57px;
}

.show-result-button{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 133px;
  height: 32px;
  margin: auto;
  margin-top: 23px;
  text-transform: uppercase;
}

/*Стилизация полей над рэнджем и кнопки под ним*/

/*Стилизация полосы и ползунка*/
input[type=range]{
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50%;
  border: 8px solid white;
}

input[type=range]:focus{
  background-color: SteelBlue;
  outline: none;
}

input[type=range]::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 1px SteelBlue;
  outline: none;
}
/*Стилизация полосы и ползунка*/


.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

