/*базовые стили начало*/
@font-face {
    font-family: "PT-Sans";
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,*::before,*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

.visualy-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
  font-family: "PT-Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.template{
  position:absolute;
  left: 50%;
  margin-left: -600px;
  opacity: 0.6;
  z-index: 1;
}

.index-content{
  padding-top: 38px;
}

img{ 
  max-width: 100% 
}

.container{
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0 10px 2px #d0d0d0;
}

/*базовые стили конец*/
/*стили хеддера начало*/
.page-header .site-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 140px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.page-header a{
  margin: 0;
  padding: 0;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 28px;
  align-items: center;
  padding-right: 73px;
  padding-left: 73px;
}

.navigation-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 335px;
}


.navigation-list-item{
  padding-top: 14px;
  padding-bottom: 16px;
}

.navigation-list-item a{
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.curent-link a{
  color: #766357;
}

.navigation-list-item a:hover{
  color: #81b3d2;
}

.navigation-list-item a:active{
  color: #c7c7c7;
}



.landscape{
  width: 1200px;
  height: 510px;
  background-image: url(../img/sedona-landscape.jpg);
  background-size: cover;
  background-color: #486776;
}

.start-description1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  line-height: 28px;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  width: 600px;
  }

.start-description2{
  margin-bottom: 50px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
}
/*стили хеддера конец*/
/*Секции преимуществ начало*/
.reasons{
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  width: 1200px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  font-size: 14px;
}

.reason-1,
.reason-2{
  background-color: #81b3d2;
  color: white;
}

.reasons-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
}

.advantage-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 330px;
  background-color: white;
}

.reasons p{
  margin: 0;
  padding: 0;
}

.reasons ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.reasons-list-item,
.advantage-list-item{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 256px;
  width: 400px;
  padding: 0;
  padding-top: 48px;
  line-height: 21px;
}

.advantage-list-item{
  position: relative;
  min-width: 330px;
  padding: 0;
  padding-top: 160px;
}

.house-item::before{
  position: absolute;
  left: 50%;
  top: 60px;
  content: "";
  width: 72px;
  height: 72px;
  margin-left: -36px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.food-item::before{
  position: absolute;
  top: 60px;
  left: 50%;
  content: "";
  margin-left: -36px;
  width: 72px;
  height: 72px;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Souvenirs-item::before{
  position: absolute;
  width: 64px;
  height: 76px;
  top: 59px;
  left: 50%;
  margin-left: -33px;
  content: "";
  background-image: url(../img/icon-present.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reasons-list-item-img{
  width: 800px;
  padding: 0;
}

.reasons h3,h4{
  width: 240px;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.reasons p{
  width: 304px;
  text-align: center;
}

.feature-number{
  margin-bottom: 20px;
}

/*Стилизация преимуществ с голубым фоном начало*/


.reason-1 h3,
.reason-2 h3{
  color: inherit;
}
/*Стилизация преимуществ с голубым фоном конец*/

/*Секции преимуществ конец*/
/*Форма поиска начало*/
.hostel-search{
  padding: 0;
  padding-top: 55px;
  text-align: center;
}

.form-area{
  position: relative;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.map-area{
  height: 472px;
}

.hostel-search-invite1{
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.hostel-search-invite2{
  text-align: center;
  margin-bottom: 50px;
}

.form-view-button{
  width: 568px;
  height: 86px;
  background: #766357;
  font-size: 21px;
  font-weight: bold;
  color: white;
  border: none;
  text-transform: uppercase;
}

.form-view-button:hover{
  background-color: #604e43;
  
}

.form-view-button:active{
  background-color: #503e33;
  color: #857871; 
  
}

.hostel-search-form{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 568px;
  height: 395px;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  background-color: #ffffff;
}

.hostel-search-form label{
  font-size: 14px;
  font-weight: bold;
}

.field-holder{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 3px;
}

.check-input{
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.check-input:hover{
  background-color: #ebebeb;
}

.check-input:focus{
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
}

.date-select{
  position: relative;
}

.date-select button{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  border: none;
  background: none;
}

.choose-date-btn
.choose-date-btn:active,
.choose-date-btn:focus{
  outline: none;
}

.choose-date-btn path{
  fill: #a9a9a9;
}

.choose-date-btn:hover path{
  fill: #000000;
}

.choose-date-btn:active path,
.choose-date-btn:focus path{
  fill: #81b3d2;
}

.number-field-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.number-area{
  display: flex;
  align-items: center;
}

label[for="grown-up-number"]{
  margin: 0;
  margin-left: 3px;
  margin-right: 40px;
}

label[for="children-number"]{
  margin-right: 25px;
}

.people-number{
  width: 38px;
  height: 38px;
  margin: 0;
}

.minus-button,
.plus-button{
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  margin: 0;
  color: #a9a9a9;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.minus-button:hover,
.plus-button:hover{
  color: #000000;
}

.minus-button:active,
.plus-button:active{
  color: #81b3d2;
}

.hostel-search-submit{
  width: 458px;
  height: 58px;
  background: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.hostel-search-submit:hover{
  background-color: #669ec0;
}

.hostel-search-submit:active{
  background-color: #5496bd;
  color: #88b6d1;
}

/*Форма поиска конец*/
/*Стилизация футтера начало*/
.site-footer{
  display: flex;
  align-items: center;
  min-height: 120px;
}

.site-footer:before {
  content: "";
  display: inline-block;
  min-height: 120px;
  visibility: hidden;
}

.site-footer a{
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.site-footer .hashteg{
  font-size: 21px;
  font-weight: bold;
}

.hashteg-area{
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link{
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:active{
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}

.social-button:active{
  background-color: #5496bd;
}

.social-list li:nth-of-type(2){
  margin-right: 6px;
  margin-left: 6px;
}

.twitter{
  background-image: url(../img/twitter-icon.svg); 
}

.facebook{
  background-image: url(../img/fb-icon.svg); 
}

.yotube{
  background-image: url(../img/youtube-icon.svg); 
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.copyright p{
  margin-right: 10px;
  display: inline;
}

.copyright svg{
  width: 115px;
  height: 41px;
}

.html-academy-logo path{
  fill: #000000;
}

.html-academy-logo:hover path{
  fill: #81b3d2;
}

.html-academy-logo:focus path{
  fill: #81b3d2;
}

.html-academy-logo:active path{
  fill: #bdbbbc;
}

.html-academy-logo svg{
  margin-top: 6px;
}
/*Стилизация футтера конец*/




/*Стили страницы с поиском
-------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.hostel-sorting-form{
  display: flex;
  min-height: 217px;
  padding-right: 73px;
  padding-left: 72px;
  padding-top: 25px;
  background-color: #84a5c6;
  background-image: url(../img/filter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.hostel-sorting-form h3{
  margin: 0;
  margin-bottom: 22px;
  font-size: 16px;
}

.left-column{
  margin-right: 120px;
}

.hostel-features{
  display: flex;
}


.checkbox-holder{
  margin-bottom: 20px;
}

/*Стилизация чекбоксов*/
.hostel-features label{
display: inline-block;
cursor: pointer;
position: relative;
}

.checkbox:focus + label::before{
  border-color: SteelBlue;
}

.hostel-features label::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  margin-right: 16px;
  vertical-align: middle;
  border-radius: 2px;
}

.checkbox:checked + label::after{
 content: '';
 display: inline-block;
 height: 12px;
 width: 20px;
 border-left: 4px solid white;
 border-bottom: 4px solid white;
 transform: rotate(-45deg);
 position: absolute;
 left: 6px;
 top: 3px;
}

.checkbox:disabled +label::before{
  border: 2px solid #8c8c8c;
}

.checkbox:disabled +label::after{
  border-left: 4px solid #8c8c8c;
  border-bottom: 4px solid #8c8c8c;
}

.checkbox:disabled +label{
  color: #8c8c8c;
}
/*Стилизация чекбоксов*/

.filter-range {
  margin-left: auto;
  margin-top: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls{
  position: relative;
  display: flex;
  margin-bottom: 20px;
  width: 317px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 2px;
  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label{
  margin-top: 2px;
}

.price-controls .min-price{
  margin-left: 65px;
}

.price-controls .max-price{
  margin-left: auto;
  margin-right: 30px;
}

.price-controls input{
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls{
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale{
  height: 2px;
  width: 317px;
  background: rgba(255, 255, 255, 0.3); 
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover{
  background-color: #ffffff;
  color: #000000;
}

.panel{
  display: flex;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.panel h2{
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-right: 50px;
}

.panel h3{
  font-size: 12px;
  margin: 0;
  margin-right: 40px;
}

.sorting-critarias{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-critarias li:nth-child(2){
  margin: 0;
  margin-right: 32px;
  margin-left: 32px;
}

.sorting-buttons{
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-left: auto;
  position: relative;
}

.sorting-button2{
  margin-left: 5px;
  transform: rotate(180deg);
}

.sorting-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 0;
  box-sizing: content-box;
  border: none;
  background: none;
}

.sorting-button polygon{
  fill: #cacaca;
}

.sorting-button:hover polygon{
  fill: #231f20;
}

.curent-sorting-btn polygon{
  fill: #83b4d3;
}

.sorting-button:active polygon,
.sorting-button:focus polygon{
  fill: #83b4d3;
}

.sorting-button:focus{
  outline: none;
}

.sorting-critarias button{
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px dotted #81b3d2;
  text-transform: uppercase;
  font-size: 12px;
  color: #b1b1b1;
  outline: none;
}

.sorting-critarias button:hover,
.sorting-critarias button:focus{
  color: #abcce1;
}

.sorting-critarias button:active{
  color: #000000;
  border: none;
}

.sorting-critarias .sorting-argument{
  color: #abcce1;
  border: none;
}

.sorting-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item{
  display: flex;
  align-content: space-between;
  margin: 0;
  padding: 0; 
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-item img{
  margin-right: 30px;
}

.sorting-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.sorting-info a{
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 80%;
  border: none;
  text-decoration: none;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  cursor: default;
}

.sorting-info a:hover{
  color: #81b3d2;
}

.sorting-info a:active{
  color: #b2b2b2;
}

.sorting-info p{
  margin: 0;
  padding: 0;
}

.sorting-row{
  display: flex;
}

.sorting-column{
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin-right: 5px;
}

.sorting-column p{
  margin-bottom: 12px;
}

.sorting-column button{
  padding: 4px 17px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.sorting-column button:hover{
  background-color: #669ec0;
}

.sorting-column button:active{
  background-color: #5496bd;
  color: #7aadcb;
}

.sorting-column2 button{
  background-color: #766357;
}

.sorting-column2 button:hover{
  background-color: #604e43;
}

.sorting-column2 button:active{
  background-color: #503e33;
  color: #857871;
}

.sorting-rating{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.sorting-rating p{
  margin: 0;
  padding: 0;
  padding: 1px 15px;
  background-color: #f2f2f2;
  color: #b1b1b1;
}

.stars{
  display: flex;
  justify-content: flex-end;
  width: 90px;
  height: 17px;
}

.stars img{
  margin: 0;
  padding: 0;
}
